.banner{
background-color: #4d00ff;
color:white;
margin-top: 100px;
text-align: center;
padding: 100px 0;
}

#hptl{
    height: 100px;
    width: 100px;
}

.bold{
    font-weight: 1000;
    height: 200px;
    width: 200px;
}